@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6, .header-section p, .prd-text {
  font-family: 'Roboto', sans-serif;
} 

body {
    margin: 0;
}
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1D2735;

}
.resForm {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    gap: 10px;
    background: #fff;
    padding: 40px 30px;
    border-radius: 8px;
}

.resForm input, .resForm select {
    padding: 14px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
} 

.submit-btn {
    background-color: #3B25C1;
    padding: 14px 10px;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.resForm-header {
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding-bottom: 8px;
    font-weight: bold;
}
.resForm-text {
    text-align: center;
     margin: 0;
    padding-top: 8px;
    cursor: pointer;
}

/* Error Text on Signup form */
.errorText {
    color : red;
    font-weight: bold;
}
/* Header Component */
.header-section {
    display: flex;
    padding: 0 20px;
    width: 98%;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.logo-text {
    color: #3B25C1;
    font-weight: bold;
}
.signout-text {
     color: #3B25C1;
     cursor: pointer;
}

.dashboard-text, .cart-text, .wl-text {
    cursor: pointer;
}

.top-right-bar {
        display: flex;
    gap: 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

/* User Dashboard */
.pl-20 {
    padding-left: 20px;
}
.user-dashboard, .admin-dashboard {
    margin-top: 70px;
}

.no-items {
    padding-top: 10px;
    padding-bottom: 10px;
}


.cart-result, .no-items {
    padding: 10px;
    background: #e9ecee;
    
    margin: 90px 20px 20px 20px;
}

.wish-list {
    padding-top: 16px;
}
.wish-list p {
    margin-top: 0;
}

.prd-cat-title {
    font-weight: bold;
}

/* CatList */
.category-list, .product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
     flex-wrap: wrap;
}
.category-list {
    cursor: pointer;
}
.category-item img, .product-item img {
    margin: 0 auto;
    display: block;

}

.prd-img {
    width: 200px;
    height: 200px;
}

.category-item p, .product-item p {
    text-align: center;
    font-size: 16px;
   
        margin-top: 6px;
    margin-bottom: 0;
}

.category-item, .product-item {
        background: #cccccc45;
    padding: 15px;
    flex-basis: 10%;
    border-radius: 10px;
}

.product-item {
    flex-basis: 20%;
   
}

.prd-text {
    font-weight: bold;
    color: #3B25C1;
}
.click-text {
    font-size: 14px;
    font-weight: normal;
}
.prd-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.cart-btn {
    border-radius: 4px;
     border: 1px solid #3B25C1;
      padding: 10px 15px;
      cursor: pointer;
     
}
.wishlist-btn {
        background-color: #3B25C1;
      color: #fff;
       border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
}
.wishlist-btn.opacity-50.cursor-not-allowed {
    opacity: 0.5;
    cursor: default;
    background: grey;
     color: #fff;
     z-index: -1;
     border: 1px solid grey;
     font-weight: bold;
   }
.cart-btn.opacity-50.cursor-not-allowed {
     cursor: default;
    border: 1px solid grey;
    opacity: 0.5;
    background: grey;
    color: #fff;
     z-index: -1;
     font-weight: bold;
}
/* SearchProducts */
.searchPrdBox {
      padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:75%;
}
.search-btn {
 padding: 11px 20px;
    background-color: #3B25C1;
    color: #fff;
    border: 0px;
    /* border-radius: 4px; */
    margin-left: -5px;
    cursor: pointer;
}

.display-features {
    display: flex;
    gap: 20px;
}

.display-features form, .display-features .sort-box {
   flex-basis: 30%;
}

/* Sorting Feature */
.sort-box select {
    padding: 10px;
    width: 190px;
    border-radius: 4px;
    margin-left: 5px;
}

.cart-table tr, .cart-table td {
  /*  border: 1px solid #ccc; */

}

.cart-table {
    width: 500px;
    font-size: 11px;
}

.cart-table td:first-child {
    width: 48%;
}
.cart-table td:nth-child(2) {
    width: 10%;
}
.cart-table td:nth-child(3) {
    width: 30%;
}
.cart-table td:nth-child(4) {
width: 10%;
}

.cart-table td {
    padding: 0px 2px;
}
.remove-cart {
   
        font-family: 'Poppins', sans-serif;
    color: #3B25C1;
    font-weight: 600;
    background-color: transparent;
    border: 0px;
    font-size: 11px;
    padding: 5px 16px;
    
    cursor: pointer;
}

.cart-section {
    display: flex;
    gap: 100px;
    
}

/* Address Section */
.current-address, .order-section {
    background-color: #fff;
    padding: 10px 20px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.address-details {
    flex-grow: 1;
}
.order-btn {
    margin-bottom: 12px;
    background: #3B25C1;
    border: 0;
    padding: 15px;
    width: 50%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.address-heading, .order-heading, .cart-list p {
    font-size: 16px;
    font-weight: 600;
}

.address-title {
    font-size: 14px;
    margin-bottom: 0;
}
.address-det {
    margin-top: 0;
    color: grey;
}

.change-text {
    color: #3B25C1;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.current-address {
    display: flex;
    justify-content: space-between;
}

.font-bold {
    font-weight: 600;
}

.font-size-16 {
    font-size: 16px;
}

.address-details {
    background-color: #fff;
}

.pl-10 {
    padding-left: 10px;
}
.address-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.dis-block {
    display: block;
}
.add-box {
    padding: 20px 30px;
    border: 1px solid #ccc;
    flex-basis: 25%;
    margin-bottom: 10px;
}
.add-btn, .save-btn {
    background-color: #3B25C1;
    color: #fff;
    padding: 10px 15px;
    border: 0px;
    cursor: pointer;
}
.add-text {
    height: 64px;
    font-size: 12px;
    color: grey;
    margin-top: 0;
}

.add-title {
    margin-top: 0;
}
.show-add-title {
    font-weight: 600;
    margin-bottom: 0;
}
/* Add Address Form */
.add-new-address-form {
    background-color : #e9ecee;
    padding: 30px;
    margin: 10px 0;
}

.add-new-address-form input {
    padding: 10px 5px;
    margin-bottom: 15px;
        display: block;
    width: 100%;
    box-sizing: border-box;
}
.full-address {
    height: 60px;
}
.save-btn {
    width: 100%;
}